/* body {
    background-color: #d68cff;
    text-align: center;
} */

h1{
    /* color: #525bf8; */
    color: #2c3e50;
}

body {
    /* background: linear-gradient(-15deg, #8bc6ec, #525bf8, #97d9e1, #d9afd9); */
    background: #bdc3c7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */   
    text-align: center;
}

img{
    height: max-content;
    padding: 10%;
}

.fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}

.fullscreen-bg__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
