/* body {
    background-color: #d68cff;
    text-align: center;
} */

h1{
    color: #525bf8;
}

body {
    background: linear-gradient(-15deg, #8bc6ec, #525bf8, #97d9e1, #d9afd9);
    text-align: center;
}

img{
    height: max-content;
    padding: 10%;
}
